.wrapper{
    margin: 0 auto;
    background-image: url(../img/background.jpg);
    height: 1000px;
    aspect-ratio: 11.89/11.5;
    padding: 0.84%;
    padding-bottom: 0;
}
header{
    width: 100%;
    height: 12.17%;
    padding-bottom: 1.74%;
}
.content{
    height: 78.57%;
    width: 100%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
.aside{
    height: 100%;
    width: 18.86%;
    border-right: 1px solid green;
}
.aside ul{
    width: 82.98%;
    height: 24.18%;
    list-style-type: none;
    padding: 0;
    background-color: white;
    border: 7px outset white;
    margin: 0;
}
.aside li{
    height: 20%;
}
.aside a{
    text-decoration: none;
    color: darkorchid;
}
.section{
    height: 100%;
    width: 81.14%;
    padding-left: 1.68%;
    color: white;
}
.section h1:nth-child(1){
    letter-spacing: 8px;
    background-color: green;
    width: 63.27%;
    padding-left: 8.16%;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}
.content1{
    height: 54.35%;
    overflow-y: scroll;
}
.content1 .text_and_img{
    display: flex;
}
.content1 img{
    height: max-content;
}
.content2{
    height: 38.04%;
    overflow-y: scroll;
}
.content2 .title{
    width: 41.75%;
    background-color: green;
}
footer{
    height: 4.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}